<!DOCTYPE html>
<html lang="ru">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="COVID-19 plot">
        <title>COVID-PLOT</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body class="container  pt-4 vh-100 d-flex flex-column bg-transparent">
        <h1>COVID-PLOT</h1>
        <p class="lead">Графики подтвержденных случаев инфицирования SARS-CoV-2 и смертей от COVID-19</p>
        <div class="row">
                <form class="col-lg-4 mb-3" method=post>
                        <div class="form-group">
                                <label for="country">Выберите одну или несколько стран:</label>
                                <select autofocus required name="country" id="country" multiple size="15" class="form-control">
                                        {%- for country in countries %}
                                        <option value = "{{ country }}" {% if country in chosen_countries %} selected {% endif %}>
                                        {{ country }}
                                        </option>
                                        {% endfor %}
                                </select>
                        </div>
                        <!-- <div class="form-group form-check">
                                <label><input class="form-check-input" type="checkbox" checked name="log" value="log" id="log">Логарифмическая шкала</label>
                                <label><input class="form-check-input" type="checkbox" name="deaths" value="deaths" id="deaths" checked>Показывать число умерших</label>
                                <label><input class="form-check-input" type="checkbox" name="current-day" value="current-day" id="current-day">Использовать данные о сегодняшнем дне</label>
                                <label class="form-check-label" for="log">Логарифмическая шкала</label>
                        </div> -->
                        <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" {% if log %} checked {% endif %} name="log" value="log" id="log">
                                <label class="custom-control-label" for="log"><small>Логарифмическая шкала</small></label>
                        </div>
                        <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" {% if deaths %} checked {% endif %} name="deaths" value="deaths" id="deaths">
                                <label class="custom-control-label" for="deaths"><small>Показывать число умерших</small></label>
                        </div>       
                        <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" {% if current_day %} checked {% endif %} name="current_day" value="current_day" id="current_day">
                                <label class="custom-control-label" for="current_day"><small>Использовать данные о&nbsp;сегодняшнем дне</small></label>
                        </div>
                        <div class="form-group form-row align-items-center">
                                <label class="col-auto mb-0" for="from_date"><small>Построить график  с&nbsp;</small></label>
                                <input class="form-control col" type="text" {% if from_date %} value="{{from_date}}" {% endif %} name="from_date" id="from_date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value="2020-03-01" placeholder="2020-03-01">
                        </div>
                        <button class="btn btn-link text-decoration-none text-left d-block mb-3 p-0 js-collapse-input" type="button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" onclick=""><small class="js-collapse-input-inner">Показать дополнительные настройки (экстраполяция)</small></button>
                        <div class="collapse {% if forec_confirmed or forec_deaths %} forse-opening  {% endif %}" id="collapseExample">
                                <div class="forec-confirmed js-forec-confirmed-block">
                                        <div class="custom-control custom-checkbox mb-2">
                                                <input class="custom-control-input js-forec-confirmed" type="checkbox" name="forec-confirmed" value="forec-confirmed" {% if forec_confirmed %} checked {% endif %} id="forec-confirmed">
                                                <label class="custom-control-label" for="forec-confirmed"><small>Экстраполировать число подтвержденных случаев</small></label>
                                        </div>
                                        <p class="mb-1"><small>Тип экстраполяционной функции</small></p>
                                        <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" {% if not forec_confirmed or forec_confirmed and forec_confirmed[0]=="linear" %} checked {% endif %} {% if not forec_confirmed %} disabled {% endif %} id="linear" value="linear" name="confirmed_function">
                                                <label class="custom-control-label" for="linear"><small>Linear</small></label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" {% if forec_confirmed and forec_confirmed[0]=="poly" %} checked {% endif %} {% if not forec_confirmed %} disabled {% endif %} id="poly" value="poly" name="confirmed_function">
                                                <label class="custom-control-label" for="poly"><small>Poly</small></label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" {% if forec_confirmed and forec_confirmed[0]=="covid" %} checked {% endif %} {% if not forec_confirmed %} disabled {% endif %} id="covid" value="covid" name="confirmed_function">
                                                <label class="custom-control-label" for="covid"><small>Covid</small></label>
                                        </div>
                                        <div class="form-group form-row align-items-center">
                                                <label class="col-auto mb-0" for="for_period_confirmed"><small>Экстраполировать вперёд на</small></label>
                                                <input class="form-control col js-for-period" type="number" {% if forec_confirmed %} value="{{forec_confirmed[1]}}" {% endif %}  {% if not forec_confirmed %} disabled {% endif %} name="for_period_confirmed" id="for_period_confirmed" value="7" placeholder="7" min="3">
                                                <span class="ml-1"><small>(дни)</small></span>
                                        </div>
                                        <div class="form-group form-row align-items-center">
                                                <label class="col-auto mb-0" for="on_period_confirmed"><small>Экстраполировать на основе последних</small></label>
                                                <input class="form-control col js-on-period" type="number"  {% if forec_confirmed %} value="{{forec_confirmed[2]}}" {% endif %} {% if not forec_confirmed %} disabled {% endif %} name="on_period_confirmed" id="on_period_confirmed" value="7" placeholder="7" min='4'>
                                                <span class="ml-1"><small>(дни)</small></span>
                                        </div>
                                </div>
                                <div class="forec-deaths js-forec-deaths-block">
                                        <div class="custom-control custom-checkbox mb-2">
                                                <input class="custom-control-input js-forec-deaths" type="checkbox" name="forec-deaths" value="forec-deaths"  {% if forec_deaths %} checked {% endif %}  id="forec-deaths">
                                                <label class="custom-control-label" for="forec-deaths"><small>Экстраполировать число умерших</small></label>
                                        </div>
                                        <p class="mb-1"><small>Тип экстраполяционной функции</small></p>
                                        <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" {% if not forec_deaths or forec_deaths and forec_deaths[0]=="linear" %} checked {% endif %}} {% if not forec_deaths %} disabled {% endif %} id="linear2" value="linear2" name="deaths_function">
                                                <label class="custom-control-label" for="linear2"><small>Linear</small></label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" {% if forec_deaths and forec_deaths[0]=="poly2" %} checked {% endif %}  {% if not forec_deaths %} disabled {% endif %}id="poly2" value="poly2" name="deaths_function">
                                                <label class="custom-control-label" for="poly2"><small>Poly</small></label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" {% if forec_deaths and forec_deaths[0]=="covid2" %} checked {% endif %}  {% if not forec_deaths %} disabled {% endif %} id="covid2" value="covid2" name="deaths_function">
                                                <label class="custom-control-label" for="covid2"><small>Covid</small></label>
                                        </div>
                                        <div class="form-group form-row align-items-center">
                                                <label class="col-auto mb-0" for="for_period_deaths"><small>Экстраполировать вперёд на</small></label>
                                                <input class="form-control col js-for-period" type="number" {% if forec_deaths %} value="{{forec_deaths[1]}}" {% endif %} {% if not forec_deaths %} disabled {% endif %} name="for_period_deaths" id="for_period_deaths" value="7" placeholder="7" min="3">
                                                <span class="ml-1"><small>(дни)</small></span>
                                        </div>
                                        <div class="form-group form-row align-items-center">
                                                <label class="col-auto mb-0" for="on_period_deaths"><small>Экстраполировать на основе последних</small></label>
                                                <input class="form-control col js-on-period" type="number"  {% if forec_deaths %} value="{{forec_deaths[2]}}" {% endif %} {% if not forec_confirmed %} disabled {% endif %} name="on_period_deaths" id="on_period_deaths" value="7" placeholder="7" min='4'>
                                                <span class="ml-1"><small>(дни)</small></span>
                                        </div>
                                </div>


                                
                        </div>
                        <button class="btn btn-primary" type="submit" value="Построить график по выбранным странам">
                            Построить график</button>
                        {% if chosen_countries %}
                        <button type="button" class="btn btn-primary" onclick="window.location.href = '/covid/';">Сбросить</button>
                        {% endif %}
                </form>
                <div class="col-lg-8">
                        <div>
                        {% if image %}
                                <img src="data/{{image}}" style="max-width:100%;" class="img-responsive">
                        {% endif %}
                        </div>
                        <div>
                        {% if error %}
                                <p style="border : 1; background-color : red;"><big><strong>{{error}}</strong></big></p>
                        {% endif %}
                        </div>
                </div>
        </div>
        <p class="mt-auto text-right"><em><a href="https://github.com/AleksZhuravlyov/covid_plot"><small>Github repository</small></a></em></p>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src='../data/js/script.js'></script>
</body>
</html>
